<!-- start side bar -->
<app-side-bar [isOpen] = "isOpen" [items] = "sidebarItems"></app-side-bar>
<!-- end sidebar -->

<!-- start min top nav -->
<app-nav-bar (toggle)="isOpen = !isOpen"></app-nav-bar>
<!-- end min top nav -->

<!-- start main -->
<main [ngClass]="{'md:ml-64 md:w-[calc(100%-256px)]': isOpen, 'md:ml-0': !isOpen}" class="bg-gray-100 duration-500 w-full h-svh pt-16 overflow-y-scroll">
    <section class="p-4 mt-4 text-black">
        <div class="flex items-center justify-start gap-4 mt-3 mb-8">
            <i class="pi pi-users text-gray-500 shadow-lg rounded-lg text-3xl p-2 "></i>
            <h2 class="mb-2 text-3xl">gestion des personnes</h2>
        </div>

        <div class="rounded-xl bg-white p-4 mt-4">
            <h1 class="mb-2 text-3xl">créer des personnes</h1>
            <p-button (onClick)="showDialogCreate()" label="créer" icon="pi pi-arrow-up-right" severity="success" />
        </div>

        <div class="rounded-xl bg-white p-4 mt-4">
            <table class="w-full text-sm text-left rtl:text-right text-black shadow-md mt-2">
                <thead class="text-xs text-black uppercase bg-gray-200 shadow-md">
                    <tr>
                        <th scope="col" class="px-6 py-3">nom</th>
                        <th scope="col" class="px-6 py-3">prenom</th>
                        <th scope="col" class="px-6 py-3">cin</th>
                        <th scope="col" class="px-6 py-3">email</th>
                        <th scope="col" class="px-6 py-3">telephone</th>
                        <th scope="col" class="px-6 py-3">role</th>
                        <th scope="col" class="px-6 py-3">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let personne of personnes" class="bg-white border-b">
                        <td class="px-6 py-4">{{personne.nom}}</td>
                        <td class="px-6 py-4">{{personne.prenom}}</td>
                        <td class="px-6 py-4">{{personne.cin}}</td>
                        <td class="px-6 py-4">{{personne.email}}</td>
                        <td class="px-6 py-4">{{personne.tele}}</td>
                        @if(membershipStatus[personne.id] && membershipStatus[personne.id].hasAccount){
                          <td class="px-6 py-4">
                            <p-tag severity="info" [value]="membershipStatus[personne.id].role" />
                          </td>
                        }@else {

                          <td class="px-6 py-4">
                            <p-button (onClick)="showDialogAssociate(personne.id)"  icon="pi pi-plus" [rounded]="true" [raised]="true"></p-button>
                          </td>

                        }
                        <!-- <td class="px-6 py-4">--</td> -->

                        <td class="px-6 py-4">
                            <p-button (onClick)="showDialogEdit(personne)"  icon="pi pi-pencil" [rounded]="true" [raised]="true"  severity="info" class="mx-3"></p-button>
                            <p-button (onClick)="deletePersonne(personne.id)"  icon="pi pi-trash" [rounded]="true" [raised]="true"  severity="danger"></p-button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </section>

    <!-- personne creation form popup -->
    <p-dialog header="créer un personne" [modal]="true" [(visible)]="visible_create" [style]="{ width: '30rem' }">
        <form [formGroup]="fg" (ngSubmit)="create($event)"  class="w-full p-4 border border-gray-300 bg-white" action="#" method="post">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 text-black">

              <!-- nom -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">nom</label>
                <input type="text" formControlName="nom" name="nom" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

              <!-- prenom -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">prenom</label>
                <input type="text" formControlName="prenom" name="prenom" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

              <!-- cin -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">cin</label>
                <input type="text" formControlName="cin" name="cin" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

              <!-- email -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">email</label>
                <input type="email" formControlName="email" name="email" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

              <!-- tele -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">tele</label>
                <input type="tel" formControlName="tele" name="tele" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

            </div>
            <button type="submit" class="w-full mt-5 rounded-md bg-blue-600 text-center py-3 text-white">
              Créer
            </button>
          </form>
    </p-dialog>
    <!-- end personne creation form popup -->

    <!-- personne modification form popup -->
    <p-dialog header="modifier un personne" [modal]="true" [(visible)]="visible_edit" [style]="{ width: '30rem' }">
        <form [formGroup]="fg" (ngSubmit)="edit($event)"  class="w-full p-4 border border-gray-300 bg-white" action="#" method="post">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 text-black">

              <!-- nom -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">nom</label>
                <input type="text" formControlName="nom" name="nom" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

              <!-- prenom -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">prenom</label>
                <input type="text" formControlName="prenom" name="prenom" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

              <!-- cin -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">cin</label>
                <input type="text" formControlName="cin" name="cin" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

              <!-- email -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">email</label>
                <input type="email" formControlName="email" name="email" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

              <!-- tele -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">tele</label>
                <input type="tel" formControlName="tele" name="tele" class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"/>
              </div>

            </div>
            <button type="submit" class="w-full mt-5 rounded-md bg-blue-600 text-center py-3 text-white">
              modifier
            </button>
          </form>
    </p-dialog>
    <!-- end personne creation form popup -->

    <!-- associate a compte to a user -->
    <p-dialog header="Associer un compte" [modal]="true" [(visible)]="visible_associate" [style]="{ width: '30rem' }">
      <form [formGroup]="fg_account" (ngSubmit)="associerRole()"  class="w-full p-4 border border-gray-300 bg-white" action="#" method="post">
          <div class="grid grid-cols-2 gap-5 text-black">

            <!-- role -->
            <div>
              <label class="block mb-2 text-sm font-medium" for="">role</label>
              <select formControlName="role" name="role" class="w-full mb-3 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                  <option value="ADMIN_USER">ADMIN_USER</option>
                  <option value="ADMIN_SP">ADMIN_SP</option>
                  <option value="ADMIN_NOTES">ADMIN_NOTES</option>
              </select>
            </div>

          </div>
          <button type="submit" class="w-full mt-5 rounded-md bg-blue-600 text-center py-3 text-white">
            Associer
          </button>
        </form>
  </p-dialog>
  <!-- end personne creation form popup -->
    <p-toast />
    <p-confirmdialog />

</main>
<!-- end main -->