<!-- start min top nav -->
<app-nav-bar (toggle)="isOpen = !isOpen"></app-nav-bar>
<!-- end min top nav -->

<!-- start side bar -->
<app-side-bar [isOpen] = "isOpen" [items] = "sidebarItems" />
<!-- end sidebar -->

<!-- start main -->
<main [ngClass]="{'md:ml-64 md:w-[calc(100%-256px)]': isOpen, 'md:ml-0': !isOpen}" class="bg-gray-100 duration-500 w-full h-svh pt-16 overflow-y-scroll">

    <section class="p-4 h-full">
        <!-- start title of page -->
        <div class="flex items-center justify-start gap-4 mt-3 mb-8">
            <i class="pi pi-database text-gray-500 shadow-lg rounded-lg text-3xl p-2 "></i>
            <h2 class="mb-2 text-3xl text-black">Importer la structure pédagogique</h2>
        </div>
        <!-- end title of page -->

        <div class="p-4 mt-4">
            <div class="rounded-xl p-4 h-fit grid grid-cols-1 gap-y-6">
                <div class="  p-4 rounded-lg  border border-gray-300 bg-white">
                    <h3 class="font-medium mb-4 text-black">choisir un fichier (.csv)</h3>
                    <div class="flex justify-start items-center gap-4 ">
                            <input (change)="onFileChange($event)" class="block w-1/3 p-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none" type="file">
                            <p-button (onClick)="importer_sp()" label="importer" icon="pi pi-upload" iconPos="right" size="small"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p-toast />
</main>
<!-- end main -->
