<form [formGroup]="fg" (ngSubmit)="creerModule($event)"   class="w-full p-4 border border-gray-300 bg-white" action="#" method="post">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
      <!-- titre -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">titre</label>
        <input type="text" formControlName="titre" name="titre"
          class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
        />
      </div>

      <!-- code -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">code</label>
        <input type="text" formControlName="code" name="code"
          class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
        />
      </div>

      <!-- enseignant -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">enseignant</label>
        <select formControlName="enseignant"  name="enseignant" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-4/12 p-2.5">
            <option value="student" name="student"  selected>mohamed fahim</option>
            <option value="teacher" name="teacher" >mohamed 1</option>
            <option value="resp" name="resp">mohamed 2</option>
        </select>
      </div>

      <!-- niveau -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">niveau</label>
        <select formControlName="niveau"  name="niveau" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-4/12 p-2.5">
            <option value="student" name="student"  selected>niveau 1</option>
            <option value="teacher" name="teacher" >niveau 2</option>
            <option value="resp" name="resp">niveau 3</option>
        </select>
      </div>


    </div>
    <button type="submit" class="w-full mt-5 rounded-md bg-blue-600 text-center py-3 text-white">
      Créer
    </button>
  </form>
  <p-toast />