<table class="w-full text-sm text-left rtl:text-right text-black shadow-md mt-2">
    <thead class="text-xs text-black uppercase bg-gray-200 shadow-md">
        <tr>
            <th scope="col" class="px-6 py-3">alias</th>
            <th scope="col" class="px-6 py-3">filiere</th>
            <th scope="col" class="px-6 py-3">niveau suivant</th>
            <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white border-b">
            <td class="px-6 py-4">GL1</td>
            <td class="px-6 py-4">GLCC</td>
            <td class="px-6 py-4">GL2</td>
            <td class="px-6 py-4">
                <p-button  icon="pi pi-eye" [rounded]="true" [raised]="true"></p-button>
                <p-button  icon="pi pi-pencil" [rounded]="true" [raised]="true"  severity="info" class="mx-3"></p-button>
                <p-button  icon="pi pi-trash" [rounded]="true" [raised]="true"  severity="danger"></p-button>
            </td>
        </tr>

        <tr class="bg-white border-b">
            <td class="px-6 py-4">GL1</td>
            <td class="px-6 py-4">GLCC</td>
            <td class="px-6 py-4">GL2</td>
            <td class="px-6 py-4">
                <p-button  icon="pi pi-eye" [rounded]="true" [raised]="true"></p-button>
                <p-button  icon="pi pi-pencil" [rounded]="true" [raised]="true"  severity="info" class="mx-3"></p-button>
                <p-button  icon="pi pi-trash" [rounded]="true" [raised]="true"  severity="danger"></p-button>
            </td>
        </tr>

        <tr class="bg-white border-b">
            <td class="px-6 py-4">GL1</td>
            <td class="px-6 py-4">GLCC</td>
            <td class="px-6 py-4">GL2</td>
            <td class="px-6 py-4">
                <p-button  icon="pi pi-eye" [rounded]="true" [raised]="true"></p-button>
                <p-button  icon="pi pi-pencil" [rounded]="true" [raised]="true"  severity="info" class="mx-3"></p-button>
                <p-button  icon="pi pi-trash" [rounded]="true" [raised]="true"  severity="danger"></p-button>
            </td>
        </tr>


    </tbody>
</table>