<!-- start side bar -->
<app-side-bar [isOpen] = "isOpen" [items] = "sidebarItems"></app-side-bar>
<!-- end sidebar -->

<!-- start min top nav -->
<app-nav-bar (toggle)="isOpen = !isOpen"></app-nav-bar>
<!-- end min top nav -->

<!-- start main -->
<main [ngClass]="{'md:ml-64 md:w-[calc(100%-256px)]': isOpen, 'md:ml-0': !isOpen}" class="bg-gray-100 duration-500 w-full h-svh pt-16 overflow-y-scroll">

    <!-- start account-creation-form -->
    <section class="p-4 mt-4">
        <div class="flex items-center justify-start flex-col gap-4 mt-3 mb-8 p-4 border border-slate-300">
            <div>
                <h2 class="mb-2 text-3xl">exporter les fichier des collecte des notes</h2>
            </div>
            <div class="flex justify-start items-center gap-4 ">
                <p-button (onClick)="show_export_notes_module()" label="notes d'un module" icon="pi pi-arrow-up-right" iconPos="right" severity="info" [raised]="true" size="small" />
                <p-button (onClick)="show_export_notes_deli()" label="notes de délibération" icon="pi pi-arrow-up-right" iconPos="right" severity="info" [raised]="true" size="small" />
            </div>
        </div>

        <div class="flex items-center justify-start flex-col gap-4 mt-3 mb-8 p-4 border border-slate-300">
            <div>
                <h2 class="mb-2 text-3xl">importer les fichier des collecte des notes</h2>
            </div>
            <div class="flex justify-start items-center gap-4 ">
                <p-button (onClick)="show_import_notes_module()" label="notes d'un module" icon="pi pi-arrow-up-right" iconPos="right" severity="info" [raised]="true" size="small" />
                <p-button (onClick)="show_import_notes_deli()" label="notes de délibération" icon="pi pi-arrow-up-right" iconPos="right" severity="info" [raised]="true" size="small" />
            </div>
        </div>
    </section>

    <!----------------------- pop ups section --------------------------->

    <!-- # exporter notes de module dialog -->
    <p-dialog header="exporter fichier de collecte des notes par module" [modal]="true" [(visible)]="export_notes_module_v" [style]="{ width: '25rem' }">
        <form class="w-full p-4 border border-gray-300 bg-white" method="post">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 text-black">

              <!-- session -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">semester et session</label>
                <select [(ngModel)]="id_semester" name="id_semester" class="w-full mb-3 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                    <option *ngFor="let semester of semestres" [value]="semester.id">{{semester.semester + "  " +semester.session + "  "+semester.anneEtude}}</option>
                </select>
              </div>

              <!-- niveau -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">niveau</label>
                <select [(ngModel)]="id_niveau" name="id_niveau" class="w-full mb-3 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                    <option *ngFor="let niveau of niveaux" [value]="niveau.id">{{niveau.intitule}}</option>
                </select>
              </div>

              <!-- module -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">module</label>
                <select [(ngModel)]="id_module" name="id_module" class="w-full mb-3 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                    <option *ngFor="let module of modules" [value]="module.id">{{module.titre}}</option>
                </select>
              </div>

            </div>
            <p-button (onClick)="exportCollectNotes()" [style]="{'width':'100%'}" label="exporter" icon="pi pi-file-export" iconPos="right" size="small" />
        </form>
    </p-dialog>

    <!-- # exporter notes de deliberation -->
    <p-dialog header=" fichier de collecte des notes de délibération finale" [modal]="true" [(visible)]="export_notes_deli_v" [style]="{ width: '25rem' }">
        <form  class="w-full p-4 border border-gray-300 bg-white" action="#" method="post">
            <div class="grid grid-cols-1 gap-5 text-black">
              <!--  niveau  -->
              <div>
                <label class="block mb-2 text-sm font-medium" for="">niveau</label>
                <select [(ngModel)]="id_niveau_deli" name="id_niveau_deli" class="w-full mb-3 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                    <option *ngFor="let niveau of niveaux" [value]="niveau.id" name="niveau_id">{{niveau.intitule}}</option>
                </select>
              </div>

            </div>
            <p-button (onClick)="exporter_fichier_deli()" [style]="{'width':'100%'}" label="exporter" icon="pi pi-file-export" iconPos="right" size="small" />
        </form>
    </p-dialog>

    <!-- # importer notes de module dialog -->
    <p-dialog header="importer fichier de collecte des notes par module" [modal]="true" [(visible)]="import_notes_module_v" [style]="{ width: '25rem' }">
      <h3 class="font-medium mb-4 text-red-600">choisir un fichier (.csv)</h3>
      <div class="grid grid-cols-1 gap-5 text-black">
        <input (change)="onImportCollectNotesFileChange($event)" class="block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none" type="file">
        <p-button (onClick)="importCollectNotes()" [style]="{'width':'100%'}" label="importer" icon="pi pi-upload" iconPos="right" size="small" />
      </div>
    </p-dialog>

    <!-- # importer notes de deliberation dialog -->
    <p-dialog header="importer fichier de collecte des notes de deliberation" [modal]="true" [(visible)]="import_notes_deli_v" [style]="{ width: '25rem' }">
      <h3 class="font-medium mb-4 text-red-600">choisir un fichier (.csv)</h3>
      <div class="grid grid-cols-1 gap-5 text-black">
        <input (change)="onImportCollectNotesDeliFileChange($event)" class="block p-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none" type="file">
        <p-button (onClick)="importDeliNotes()" [style]="{'width':'100%'}" label="importer" icon="pi pi-upload" iconPos="right" size="small" />
      </div>
    </p-dialog>
    <p-toast />
</main>
<!-- end main -->
