<form (ngSubmit)="creerElement($event)"  class="w-full p-4 border border-gray-300 bg-white" action="#" method="post">
    <div class="grid grid-cols-2 gap-5">
      <!-- titre matiere -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">titre</label>
        <input [(ngModel)]="titre" type="text" name="titre"
          class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
        />
      </div>

      <!-- module de cette matière -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">module</label>
        <select [(ngModel)]="module_id"  name="module_id" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option *ngFor="let enseignant of enseignants" [value]="enseignant.id">{{enseignant.nom + " " + enseignant.prenom}}</option>
        </select>
      </div>

      <!-- emseignant de cette matière -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">enseignant</label>
        <select [(ngModel)]="enseignant_id"  name="enseignant_id" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option *ngFor="let module of modules" [value]="module.id">{{module.titre + " (" + module.code + ")"}}</option>
        </select>
      </div>

    </div>
    <button type="submit" class="w-full mt-5 rounded-md bg-blue-600 text-center py-3 text-white">
      Créer
    </button>
  </form>
  <p-toast />
  <!-- <p-toast></p-toast> -->