<!-- start side bar -->
<app-side-bar [isOpen] = "isOpen" [items] = "sidebarItems"></app-side-bar>
<!-- end sidebar -->

<!-- start min top nav -->
<app-nav-bar (toggle)="isOpen = !isOpen"></app-nav-bar>
<!-- end min top nav -->

<!-- start main -->
<main [ngClass]="{'md:ml-64 md:w-[calc(100%-256px)]': isOpen, 'md:ml-0': !isOpen}" class="bg-gray-100 duration-500 w-full h-svh pt-16 overflow-y-scroll">

    <!-- start account-creation-form -->
    <section class="p-4 mt-4 text-black">
        <div class="flex items-center justify-start gap-4 mt-3 mb-8">
            <i class="pi pi-users text-gray-500 shadow-lg rounded-lg text-3xl p-2 "></i>
            <h2 class="mb-2 text-3xl">consulter les notes d'un etudiant</h2>
        </div>

        <div class="rounded-xl p-4 mt-4 grid grid-cols-3 gap-4">

            <div>
                <label class="block mb-2 text-sm font-medium" for="">CNE</label>
                <input [(ngModel)]="cne" type="text" name="cne"
                  class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
                />
              </div>

            <div>
                <div>
                    <label class="block mb-2 text-sm font-medium" for="">anne d'etude</label>
                    <input [(ngModel)]="anne_etude" type="text" name="anne_etude"
                      class="block w-full p-2.5 text-sm bg-white border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
                    />
                  </div>
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium" for="">module</label>
                <select [(ngModel)]="id_module" name="module" class="w-full mb-3 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5">
                    <option *ngFor="let module of modules" [value]="module.id" name="filiere">{{module.titre}}</option>
                </select>
            </div>

        </div>

        <div class="rounded-xl p-4 mt-4">
            <p-button (onClick)="consulter()" label="consulter"  icon="pi pi-eye" iconPos="right" [rounded]="true" [raised]="true" />
        </div>

    @if(singleNote && singleModule) {
            <!-- one module -->
            <div class="rounded-xl bg-white p-4 mt-4">
                <table class="w-full text-sm text-left rtl:text-right text-black shadow-md mt-2">
                    <thead class="text-xs text-black uppercase bg-gray-200 shadow-md">
                        <tr>
                            <th scope="col" class="px-6 py-3">nom</th>
                            <th scope="col" class="px-6 py-3">prenom</th>
                            <th scope="col" class="px-6 py-3">cne</th>
                            <th scope="col" class="px-6 py-3">module</th>
                            <th scope="col" class="px-6 py-3">note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b">
                            <td class="px-6 py-4">{{etudiant.nom}}</td>
                            <td class="px-6 py-4">{{etudiant.prenom}}</td>
                            <td class="px-6 py-4">{{etudiant.cne}}</td>
                            <td class="px-6 py-4">{{singleModule.titre}}</td>
                            <td class="px-6 py-4">{{singleNote.note}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        }


    </section>

</main>
<!-- end main -->
