<table class="w-full text-sm text-left rtl:text-right text-black shadow-md mt-2">
    <thead class="text-xs text-black uppercase bg-gray-200 shadow-md">
        <tr>
            <th scope="col" class="px-6 py-3">intitulé</th>
            <th scope="col" class="px-6 py-3">alias</th>
            <th scope="col" class="px-6 py-3">année d’accréditation</th>
            <th scope="col" class="px-6 py-3">année de fin d’accréditation</th>
            <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white border-b">
            <td class="px-6 py-4">filiere 1</td>
            <td class="px-6 py-4">GLCC</td>
            <td class="px-6 py-4">2018</td>
            <td class="px-6 py-4">2019</td>
            <td class="px-6 py-4">
                <p-button  icon="pi pi-eye" [rounded]="true" [raised]="true"></p-button>
                <p-button  icon="pi pi-pencil" [rounded]="true" [raised]="true"  severity="info" class="mx-3"></p-button>
                <p-button  icon="pi pi-trash" [rounded]="true" [raised]="true"  severity="danger"></p-button>
            </td>
        </tr>

        <tr class="bg-white border-b">
            <td class="px-6 py-4">filiere 1</td>
            <td class="px-6 py-4">GLCC</td>
            <td class="px-6 py-4">2018</td>
            <td class="px-6 py-4">2019</td>
            <td class="px-6 py-4">
                <p-button  icon="pi pi-eye" [rounded]="true" [raised]="true"></p-button>
                <p-button  icon="pi pi-pencil" [rounded]="true" [raised]="true"  severity="info" class="mx-3"></p-button>
                <p-button  icon="pi pi-trash" [rounded]="true" [raised]="true"  severity="danger"></p-button>
            </td>
        </tr>

        <tr class="bg-white border-b">
            <td class="px-6 py-4">filiere 1</td>
            <td class="px-6 py-4">GLCC</td>
            <td class="px-6 py-4">2018</td>
            <td class="px-6 py-4">2019</td>
            <td class="px-6 py-4">
                <p-button  icon="pi pi-eye" [rounded]="true" [raised]="true"></p-button>
                <p-button  icon="pi pi-pencil" [rounded]="true" [raised]="true"  severity="info" class="mx-3"></p-button>
                <p-button  icon="pi pi-trash" [rounded]="true" [raised]="true"  severity="danger"></p-button>
            </td>
        </tr>

    </tbody>
</table>