<p-table
#dt2
stripedRows
showGridlines
[value]="filieres"
dataKey="id"
[rows]="5"
[paginator]="true"
[tableStyle]="{ 'min-width': '75rem' }"
>
<ng-template #header>
    <tr>
        <th>intitulé</th>
        <th>alias</th>
        <th>année d’accréditation</th>
        <th>année de fin d’accréditation</th>
        <th>coordinateur</th>
        <th>x</th>
        <th>y</th>
        <th>Actions</th>
    </tr>

</ng-template>
<ng-template #body let-filiere>
    <tr>
        <td>{{filiere.intitule}}</td>
        <td>{{filiere.alias}}</td>
        <td>{{filiere.anne_accreditation}}</td>
        <td>{{filiere.anne_fin_accreditation}}</td>
        @if(filiere.coordinateur != null){
            <td>{{filiere.coordinateur.nom + " " + filiere.coordinateur.prenom}}</td>
        }@else {
        <td>-</td>
        }
        <td>{{filiere.x}}</td>
        <td>{{filiere.y}}</td>
        <td>
            <!-- <p-button (onClick)="showDialogView()"  icon="pi pi-eye" [rounded]="true" [raised]="true"></p-button> -->
            <p-button (onClick)="showDialogEdit(filiere)"  icon="pi pi-pencil" [rounded]="true" [raised]="true"  severity="info" class="mx-3"></p-button>
            <p-button (onClick)="deleteFiliere(filiere.id)"  icon="pi pi-trash" [rounded]="true" [raised]="true"  severity="danger"></p-button>
        </td>
    </tr>
</ng-template>
</p-table>


<!-- edit filiere -->
<p-dialog header="modifier" class="text-center" [modal]="true" [(visible)]="visible_edit" [style]="{width: '30rem'}" [draggable]="false" [resizable]="false" [breakpoints]="{ '960px': '75vw' }">
 <!-- edit form -->
 <div class="flex justify-center text-left ">
     <form [formGroup]="fg" class="w-full" (ngSubmit)="edit($event)">
             <div class = "grid grid-cols-1 sm:grid-cols-2 gap-5 mt-5 w-full">

                 <!-- intitulé -->
                 <div>
                     <label class="block mb-2 text-sm font-medium" for="">intitulé</label>
                     <input type="text" formControlName = "intitule"   class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                 </div>

                 <!-- alias -->
                 <div>
                     <label class="block mb-2 text-sm font-medium" for="">alias</label>
                     <input type="text" formControlName = "alias"  class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                 </div>

                 <!-- année d’accréditation -->
                 <div>
                     <label class="block mb-2 text-sm font-medium" for="">année d’accréditation </label>
                     <input type="text" formControlName = "annee_accreditation" class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                 </div>

                 <!-- année de fin d’accréditation -->
                 <div>
                    <label class="block mb-2 text-sm font-medium" for="">année de fin d’accréditation</label>
                    <input type="text" formControlName = "annee_fin_accreditation" class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                </div>

                 <!-- x -->
                 <div>
                    <label class="block mb-2 text-sm font-medium" for="">année de fin d’accréditation</label>
                    <input type="number" formControlName = "x" class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                </div>

                 <!-- y -->
                 <div>
                    <label class="block mb-2 text-sm font-medium" for="">y</label>
                    <input type="number" formControlName = "y" class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
                </div>

             </div>
             <button type="submit" class="w-full mt-5 rounded-md bg-slate-600 text-center py-3 text-white" >modifier</button>
     </form>
 </div>

</p-dialog>

<p-toast />
<p-confirmdialog />



