<form  (ngSubmit)="creerNiveau($event)"   class="w-full p-4 border border-gray-300 bg-white" action="#" method="post">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">

      <!-- intitule niveau -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">alias</label>
        <input type="text" [(ngModel)]="intitule" name="intitule"
          class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
        />
      </div>
      <!-- alias niveau -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">alias</label>
        <input type="text" [(ngModel)]="alias" name="alias"
          class="block w-full p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500"
        />
      </div>

      <!-- selectionner filiere -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">filiere</label>
        <select [(ngModel)]="filiere_id"  name="filiere_id" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option *ngFor="let filiere of filieres" [value]="filiere.id">{{filiere.intitule}}</option>
        </select>
      </div>

      <!-- niveau suivant -->
      <div>
        <label class="block mb-2 text-sm font-medium" for="">niveau swuivante</label>
        <select [(ngModel)]="id_niveau_suivant"  name="niveau_suivante" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          <option *ngFor="let niveau of niveaux" [value]="niveau.id">{{niveau.intitule}}</option>
          <option  [value]="0" selected>aucune</option>
        </select>
      </div>

    </div>
    <button type="submit" class="w-full mt-5 rounded-md bg-blue-600 text-center py-3 text-white">
      Créer
    </button>
  </form>
  <p-toast />